
nvim.appimage
# Nvim plugins, make sure to run :PlugInstall to create this folder
nvim/plugged/
nvim/pack/
nvim/spell/

zsh/plugins/
zsh/zsh-machine-custom
zsh/.zcompdump

yay/

wallpaper.jpeg
wallpaper_blurry.jpeg

*.old
